<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xian.scooter">
    <!-- 手机状态、拨打电话权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 存储相关 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 这个权限用于允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 亮度 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".module.event.EventArrangePersonActivity"></activity>
        <activity android:name=".module.event.EventArrangePlanActivity" />
        <activity android:name=".module.event.EventArrangeTypeActivity" />
        <activity android:name=".module.event.EventArrangeRulesActivity" />
        <activity android:name=".module.event.EventArrangeActivity" />
        <activity android:name=".module.stores.SetUpFeedbackActivity" />
        <activity android:name=".module.stores.SetUpActivity" />
        <activity android:name=".module.stores.CoachLabelActivity" />
        <activity android:name=".module.stores.StoresInfoActivity" />
        <activity android:name=".module.activity.ForgotPasswordActivity" />
        <activity android:name=".module.event.EventRecordDetailsActivity" />
        <activity android:name=".module.event.EventRecordActivity" />
        <activity android:name=".module.event.EventCancelActivity" />
        <activity android:name=".module.event.EventAddSetupAddActivity" />
        <activity android:name=".module.stores.MessageActivity" />
        <activity android:name=".module.stores.CoachAddActivity" />
        <activity android:name=".module.event.EventAddSetupActivity" />
        <activity android:name=".module.event.AddInfoActivity" />
        <activity android:name=".module.event.EventAddActivity" />
        <activity android:name=".module.event.EventDetailsActivity" />
        <activity android:name=".module.stores.FinancialActivity" />
        <activity android:name=".module.stores.CoursePurchaseRecordsActivity" />
        <activity android:name=".module.stores.NewCourseActivity" />
        <activity android:name=".module.stores.CoursePackageActivity" />
        <activity android:name=".module.stores.CoachActivity" />
        <activity android:name=".module.stores.CourseGivingActivity" />
        <activity android:name=".module.stores.WithdrawalActivity" />
        <activity android:name=".module.activity.RegisteredAgreementActivity" />
        <activity android:name=".module.stores.MembersActivity" />
        <activity android:name=".module.activity.RegisterStoresActivity" />
        <activity android:name=".module.activity.RegisterActivity" />
        <activity android:name=".module.activity.SearchActivity" />
        <activity android:name=".module.activity.LoginActivity" />
        <activity android:name=".module.activity.MainActivity" />
        <activity android:name=".module.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />

        <receiver
            android:name=".jpush.receiver.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver> <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".jpush.receiver.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>